# {{ ansible_managed }}

#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See resolved.conf(5) for details
[Resolve]
{% if systemd_resolved_dns_servers | length > 0 -%}
DNS={{ systemd_resolved_dns_servers | list | join(" ") }}
{% endif %}
{% if systemd_resolved_fallback_dns_servers | length > 0 -%}
FallbackDNS={{ systemd_resolved_fallback_dns_servers | list | join(" ") }}
{% endif %}
{% if systemd_resolved_search_domains | length > 0 -%}
Domains={{ systemd_resolved_search_domains | list | join(" ") }}
{% endif %}
LLMNR={{ systemd_resolved_llmnr }}
MulticastDNS={{ systemd_resolved_multicast_dns }}
DNSSEC={{ systemd_resolved_dnssec }}
DNSOverTLS={{ systemd_resolved_dns_over_tls }}
Cache={{ systemd_resolved_cache }}
DNSStubListener={{ systemd_resolved_dns_stub_listener }}
ReadEtcHosts={{ systemd_resolved_read_etc_hosts }}
