# {{ ansible_managed }}
[Unit]
Description=Check if backup disk is attached to server and trigger btrbk.service.

[Install]
RequiredBy={{ _btrbk_systemd_mount_unit_name.stdout }}.mount

[Path]
PathExists=/dev/disk/by-uuid/{{ btrbk_backup_disk_uuid }}
Unit={{ _btrbk_systemd_mount_unit_name.stdout }}.mount
