# {{ ansible_managed }}
[Unit]
Description=Mounts backup disk.
Wants=btrbk.service
Before=btrbk.service

[Mount]
What=/dev/disk/by-uuid/{{ btrbk_backup_disk_uuid }}
Where={{ btrbk_backup_disk_mount_path }}
Type=btrfs
Options=defaults,compress=zstd:3
DirectoryMode=0750
#ReadWriteOnly=true # Disabled
TimeoutSec=10
