# {{ ansible_managed }}
[Unit]
Description=btrbk backup
Documentation=https://digint.ch/btrbk/doc/btrbk.conf.5.html

[Service]
Type=oneshot
ExecStartPre=sleep 1
ExecStart=/usr/local/bin/btrbk --loglevel={{ btrbk_log_level }} --format={{ btrbk_log_format }} -c {{ btrbk_conf_path }}/btrbk.conf run {{ btrbk_filter }}
{% if btrbk_enable_auto_attach_backup_disk | bool -%}
SuccessExitStatus=0 10
ExecStartPost=systemctl stop {{ _btrbk_systemd_mount_unit_name.stdout }}.mount
{% endif %}
